//= require_self

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "datepicker-override";

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

form {
    margin: 10px auto;
    max-width: 500px;

    h1 {
        margin-bottom: 20px;
    }
}

form.button_to {
    margin: 10px 10px;
}

table {
    margin: 30px auto;
}

.btn-add {
    float: left;
}