// Place all the styles related to the Projections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-chart {
    height: 400px;
    margin: auto;
    min-width: 310px;
    max-width: 600px
}