<table class="table table-bordered table-hover">
<thead>
    <tr>
        <th>Project Owner</th>
        <th>Project Code</th>
        <th>Client</th>
        <th>Title (Description)</th>
        <th>Gross Contract</th>
        <% @months.each do |month| %>
        <th><%= month.strftime("%b %Y")%></th>
        <% end -%>
    </tr>
</thead>
<tbody>
<%= render partial: "project", collection: @backlog_entries %>
</tbody>
</table>


<%= button_to "Add Backlog Project", new_backlog_path,
      :class => "btn btn-primary btn-add", :method => :get %>